* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #121212;
}

.header {
  width: 100%;
  height: 75px;
  border: 1px solid #FFBF00;
}







@media (prefers-reduced-motion: no-preference) {
}